/*HERO */

.home-hero {
  width: 100%;
  height: 60rem;
  color: var(--white);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 13.6rem;
}

.hero-home-img {
  height: 100%;
  width: 100%;
}

.hero-card {
  position: absolute;
  width: 49.3rem;
  height: 36.7rem;
  /* border: 2px dotted white; */
  top: 0;
  left: 0;
  margin: 11.7rem 8.5rem;
}

.hero-h1 {
  font-size: 7.2rem;
  line-height: 7.2rem;
  margin-bottom: 3.2rem;
}

.hero-blurb {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 200;
  width: 90%;
  margin-bottom: 5.6rem;
}

.create-btn {
  cursor: pointer;
  background: var(--bluegreen);
  color: var(--white);
  transition: 0.3s ease;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--mainfont);
}

.create-btn:hover {
  background: #66d2cf;
}

/*COLLECTIONS */

.collections {
  height: 52.5rem;
  width: 100%;
  /* border: 2px dotted green; */
  /* border: 2px dotted blue; */
  margin: 0 auto;
  position: relative;
  margin-bottom: 20rem;
}

.collections-h1 {
  font-weight: 800;
  text-align: center;
  background-image: linear-gradient(lightgray, white, white);
  -webkit-background-clip: text;
  color: transparent;
  /* border: 2px solid yellow; */
  height: 100%;
  font-size: 175px;

  /* transform: translateY(6rem); */
}

.collections-header {
  height: 200px;
  /* border: 3px solid red; */
  transform: translateY(6rem);
}

.collections-list {
  height: 39.9rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* border: 2px dotted red; */
  display: flex;
}

.collection-img {
  height: 19.3rem;
  width: 25.6rem;
  margin-bottom: 7.1rem;
}

.collection-h3 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

.collection-blurb {
  text-align: center;
  font-weight: 400;
  opacity: 75%;
}

/*CHOOSEUS */

.choose-parent {
  height: 72.8rem;
  width: 100%;
  /* border: 1px dotted purple; */
  color: var(--white);
  position: relative;
  margin-bottom: 20rem;
}

.choose-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 57.7rem;
  color: black;
  border-radius: 5px;
  background: var(--darkgreyblue);
}

.choose-header {
  width: 54rem;
  height: 16rem;
  /* border: 2px dotted pink; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 4rem;
  margin: 0 auto;
  /* margin-top: 10rem; */
  z-index: 5;
  position: relative;
  margin-bottom: 8.6rem;
  transform: translateY(3rem);
}

.choose-blurb {
  opacity: 75%;
  /* margin-bottom: 8.6rem; */
}

.cards-list {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 111rem; */
  /* border: 2px solid red; */
  margin: 0 auto;
  z-index: 5;
  position: relative;
}

.choose-card {
  background: var(--bluegreen);
  height: 38.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 3rem;
  border-radius: 8px;
  text-align: center;
  width: 35rem;
}

.choose-h3 {
  font-size: 2.4rem;
}

.choose-caption {
  opacity: 75%;
}

/*Works */

.works-container {
  height: 68.2rem;
  width: 104.5rem;
  margin: 0 auto;
  /* border: 2px dotted purple; */
  margin-bottom: 20rem;
  /* display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column; */
}

.how-h3 {
  font-size: 2.4rem;
  /* color: #83888f; */
  color: var(--gray);
  margin-bottom: 8rem;
}

.works-meter {
  width: 76rem;
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: var(--peach);
  margin-bottom: 8.2rem;
}

.bubble {
  width: 3.1rem;
  height: 3.1rem;
  border: 2px solid var(--bluegreen);
  border-radius: 50%;
  background: white;
}

.works-list {
  display: flex;
  height: 36.8rem;
  margin-bottom: 6.4rem;
}

.work-card {
  width: 28.5rem;
  height: 100%;
  /* border: 2px solid red; */
  margin-right: 8.5rem;
}

.work-h1 {
  color: var(--peach);
  font-size: 7.2rem;
  margin-bottom: 3.8rem;
}

.work-title {
  font-size: 3.2rem;
  margin-bottom: 4.3rem;
}

.work-blurb {
  font-size: 1.6rem;
  font-weight: 200;
}

@media screen and (max-width: 750px) {
  .home-hero {
    height: 50rem;
    /* margin-bottom:12rem //figma spec  */
    margin-bottom: 6rem;
  }

  .hero-card {
    width: 39.8rem;
    height: 29.2rem;
    margin: 10.4rem 5.8rem;
    /* border: 2px dotted red; */
  }

  .hero-h1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
    margin-bottom: 2.4rem;
  }

  .hero-blurb {
    width: 100%;
    margin-bottom: 4rem;
    font-size: 1.4rem;
  }

  .collections {
    margin-bottom: 12rem;
  }

  .collections-header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(1rem);
  }
  .collections-h1 {
    font-size: 9.6rem;
  }

  .collections {
    height: 92.7rem;
    /* border: 3px dotted green; */
    /* display: flex;
    align-items: flex-end;
    justify-content: center; */
    width: 100%;
    padding: 5.8rem;
    /* padding: 2rem; */
  }

  .collections-list {
    flex-direction: column;
    align-items: flex-start;
    height: 86.8rem;
    width: 100%;
    position: relative;
    /* width: 57.3rem; */
    /* border: 2px dotted red; */
  }

  .collection-card {
    display: flex;
    width: 100%;
    height: 19.3rem;
    margin: 3.2rem 0;
  }

  .collection-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid black; */
  }

  .collection-blurb {
    text-align: start;
  }

  .choose-parent {
    height: 86.3rem;
  }

  .choose-header {
    margin-bottom: 7rem;
    margin-top: 5.6rem;
    width: 100%;
    padding: 0 2.4rem;
    /* border: 3px solid orange; */
    height: 17rem;
  }

  .choose-h1 {
    font-size: 2.8rem;
  }

  .cards-list {
    flex-direction: column;
  }

  .choose-card {
    height: 18rem;
    width: 57.3rem;
    /* border: 3px dotted purple; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.4rem;
  }

  .choose-icon {
    margin-right: 5.5rem;
  }

  .choose-card-text-div {
    width: 34.4rem;
    text-align: start;
  }

  .works-container {
    border: 2px solid red;
    width: 68.9rem;
  }

  .how-h3 {
    margin-bottom: 4rem;
  }

  .work-card {
    width: 22.3rem;
    height: 36.8rem;
    border: 2px solid red;
    margin: 0;
  }

  .works-meter {
    width: 49.7rem;
    margin-bottom: 4.8rem;
  }

  .work-h1 {
    margin-bottom: 4.2rem;
  }

  .work-title {
    margin-bottom: 3rem;
    font-size: 2.8rem;
  }

  .work-blurb {
    line-height: 2.25rem;
  }
}

@media screen and (max-width: 450px) {
  .home-hero {
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-home-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .hero-card {
    margin: 0;
    position: relative;
    height: 31.1rem;
    width: 28.9rem;
    text-align: center;
  }

  .hero-h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .hero-blurb {
    margin-bottom: 3.9rem;
  }

  .create-btn {
    margin: 0 auto;
  }

  .collections {
    height: 132.1rem;
  }

  .collections-h1 {
    font-size: 4rem;
  }

  .collection-card {
    height: 27rem;
    /* border: 3px dotted yellow; */
    flex-direction: column;
    align-items: center;
  }

  .collection-content {
    /* width:28.2rem; //figma spec */
    width: 32.2rem;
    height: 9.8rem;
    /* border: 2px dotted purple; */
    align-items: center;
  }

  .collection-h3,
  .collection-blurb {
    text-align: center;
  }

  .collection-h3 {
    margin-bottom: 1rem;
  }

  .collection-img {
    height: 15.1rem;
    width: 20rem;
    /* border: 1px dotted blue; */
    margin-bottom: 0;
  }

  .choose-parent {
    height: 149.9rem;
    padding-top: 6.5rem;
  }

  .choose-header {
    /* border: 3px dotted red; */
    height: 17.7rem;
    padding: 0;
    margin-top: 6.3rem;
  }

  .choose-bg {
    height: 90.2rem;
  }

  .cards-list {
    /* border: 3px dotted yellow; */
  }

  .choose-card {
    flex-direction: column;
    width: 27.9rem;
    height: 38.2rem;
  }

  .choose-icon {
    margin-right: 0;
    margin-bottom: 5.6rem;
  }

  .choose-h3 {
    margin-bottom: 2.4rem;
  }
  .choose-card-text-div {
    text-align: center;
    width: 21.2rem;
    /* height: 13.1rem; */
  }

  .works-container {
    height: 111.6rem;
    width: 32.7rem;
    text-align: center;
  }

  .works-meter {
    display: none;
  }

  .works-list {
    flex-direction: column;
    height: 75rem;
  }

  .work-card {
    width: 100%;
    height: 25.2rem;
  }
}
